.vs/
.idea/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Tt]est[Rr]esults/
artifacts/
*.user
*.suo
*.userprefs
*.sln.docstates
*.log
*.pdb
*.binlog
__pycache__/
*.py[cod]
/Bin64
/.tools/
/local.settings.json
/docs/
/*.md
